* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: none;
}

body {
  margin: auto;
  padding: auto;
  font-family: sans-serif;
  font-weight: bold;
  text-align: justify;
  background-color: #f1f1f1, black auto;
}

.navbar .container-fluid {
  top: 0;
  z-index: 1;
  position: fixed;
}

.navbar-nav li:hover {
  background-color: #04aa6d;
  color: bisque;
  border-radius: 10px;
}

.ul .li .a:hover {
  background-color: yellow;
}

span {
  background-image: radial-gradient(blue, black);
  color: white;
  border: 5px greenyellow solid;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
}
span:hover {
  color: yellow;
}
.hero {
  background-image: url("img/bgtest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: auto;
  background-position-x: auto;
  width: 100%;
  height: 100vh;
}

img {
  border: 6px black solid;
  width: 100% auto;
  height: 400px auto;
  margin-top: 10px auto;
}

.profil {
  background-color: black;
}

#IT:hover {
  background-color: black;
  color: white;
}

#smart:hover {
  background-color: black;
  color: white;
}

h5 {
  color: darkblue;
  font-weight: small;
  text-align: center;
  justify-content: center;
}

h6 {
  font-weight: 400;
  text-align: center;
  justify-content: center;
  margin: 15px;
}

section {
  display: block;
  margin: 5px auto;
}

/*social*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: blue;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: greenyellow;
  color: black;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: yellow;
  color: black;
}

/*menu*/
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
